<app-header heading="Gallery" tagline="Tagline here" bannerImage="assets/images/placeholder-1.jpg"></app-header>

<div class="gallery-container stripe-background">
    <app-row *ngFor="let row of gallaryRows">
        <app-column *ngFor="let image of row.rowImages" align-h="center" align-v="center">
            <app-image-view [src]="image.src" [alt]="image.alt" [caption]="image.caption"
                [description]="image.description" (onClick)="imageModal.show($event)"></app-image-view>
        </app-column>
    </app-row>
</div>

<app-image-modal></app-image-modal>