<app-header heading="Gallery" tagline="Tagline here"></app-header>

<img src="assets/images/photos/laying-with-phone-1.jpg" alt="laying-with-phone" class="fixed-background-image">

<div class="gallery-container stripe-background">
    <app-row *ngFor="let row of gallaryRows">
        <app-column *ngFor="let image of row.rowImages" align-h="center" align-v="center">
            <app-image-view class="box-shadow-fade" [src]="image.src" [alt]="image.alt" [caption]="image.caption"
                [description]="image.description" (onClick)="imageModal.show($event)"></app-image-view>
        </app-column>
    </app-row>
</div>

<app-image-modal></app-image-modal>