<footer>
    <app-row>
        <app-column h-align="center" v-align="bottom">
            <div class="logo-container padding">
                <img src="assets/images/logo-white.png" alt="logo">
            </div>
        </app-column>
        <app-column>
            <app-contact-form class="padding"></app-contact-form>
        </app-column>
    </app-row>
    <app-row class="footer-end">
        <app-column h-align="center">
            <span class="copyright">&copy; {{copyrightYear}} - All rights reserved</span>
        </app-column>
    </app-row>
</footer>