<footer>
    <app-row>
        <app-column h-align="center" v-align="bottom">
            <span class="julez-footer-text">JULE<span class="last-char">Z</span></span>
        </app-column>
        <app-column>
            <app-contact-form class="padding"></app-contact-form>
        </app-column>
    </app-row>
    <app-row class="footer-end">
        <app-column h-align="center">
            <span class="copyright">&copy; {{copyrightYear}} - All rights reserved</span>
        </app-column>
    </app-row>
</footer>