<footer>
    <app-row>
        <app-column h-align="center" v-align="center">
            <span class="julez-footer-text">JULE<span class="last-char">Z</span></span>
        </app-column>
        <app-column h-align="center" v-align="center">
            <a href="mailto:julesmusic@realjulesmusic.com" class="inline-link box-shadow-fade hover-grow">
                <fa-icon [icon]="emailIcon" size="2x"></fa-icon> julesmusic@realjulesmusic.com
            </a>
        </app-column>
    </app-row>
    <app-row class="footer-end">
        <app-column h-align="center">
            <span class="copyright">&copy; {{copyrightYear}} - All rights reserved</span>
        </app-column>
    </app-row>
</footer>