:host {
  display: block;
  color: var(--color-secondary-shade);

  footer {
    width: 100%;
    background-color: var(--color-dark-tint);

    app-contact-form {
      width: 100%;
    }

    .footer-end {
      padding: 20px;
      background-color: var(--color-dark);
    }
  }
}
