:host {
  display: flex;
  flex: 1;
  overflow: hidden;

  &[size="xs"] {
    flex: 0.25;
  }

  &[size="s"] {
    flex: 0.5;
  }

  &[size="l"] {
    flex: 1.5;
  }

  &[size="xl"] {
    flex: 2;
  }

  &[size="xxl"] {
    flex: 2.5;
  }

  &[h-align="center"] {
    justify-content: center;
  }

  &[h-align="right"] {
    justify-content: flex-end;
  }

  &[v-align="center"] {
    align-items: center;
  }

  &[v-align="bottom"] {
    align-items: flex-end;
  }
}
