:host {
  display: block;

  app-text-input.outlined ::ng-deep input,
  app-text-area.outlined ::ng-deep textarea {
    color: var(--color-secondary);
    border-color: var(--color-secondary);

    &:hover {
      box-shadow: inset var(--color-secondary) 0 0 5px;
    }
  }
}
