:host {
  display: block;

  .submit-result {
    display: none;
    padding: 10px;
    color: var(--color-light);
    border-style: solid;
    border-radius: 20px;
    text-align: center;
  }

  &.sent-success .submit-result {
    display: block;
    border-color: var(--color-success);
    animation: submitResultIntro 0.5s forwards;
  }

  &.sent-fail .submit-result {
    display: block;
    border-color: var(--color-danger);
    animation: submitResultIntro 0.5s forwards;
  }
}

@keyframes submitResultIntro {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
