<h3 class="heading">Contact</h3>

<form (ngSubmit)="onFormSubmit()" method="POST" action="./send-mail.php">
    <app-text-input #field type="email" label="Email" required block rounded outlined name="cf-email"
        [(value)]="contactForm.email">
    </app-text-input>
    <app-text-input #field type="text" label="Subject" required block rounded outlined name="cf-subject"
        [(value)]="contactForm.subject">
    </app-text-input>
    <app-text-area #field inputId="cf-message" label="Message" required block rounded outlined name="cf-message"
        [(value)]="contactForm.message"></app-text-area>
    <app-button type="submit" text="SEND" block rounded></app-button>
</form>