@mixin inputStyle() {
  position: relative;
  display: inline-block;
  margin: 10px 0;
  overflow: hidden;

  input,
  textarea,
  button,
  a.link-button {
    display: inherit;
    width: 100%;
    min-width: inherit;
    height: inherit;
    min-height: inherit;
    padding: 10px;
    border: solid transparent 2px;
    border-radius: inherit;
    outline: none;
    font-size: 1rem;
    font-family: inherit;
    transition: 0.25s;
  }

  input,
  textarea {
    background-color: var(--color-secondary);
    cursor: text;

    &:hover {
      box-shadow: inset var(--color-secondary-contrast) 0 0 5px;
    }

    &:active {
      background-color: var(--color-secondary-tint);
    }
  }

  button,
  a.link-button {
    padding: 10px 20px;
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      box-shadow: inset var(--color-secondary) 0 0 5px;
    }

    &:active {
      background-color: var(--color-tertiary-tint);
    }
  }

  &.block {
    width: 100%;
  }

  &.rounded {
    border-radius: 20px;
  }

  &.outlined {
    input,
    textarea,
    button,
    a.link-button {
      background: none;
      border: solid var(--color-tertiary) 2px;
      color: var(--color-tertiary);
    }

    input,
    textarea {
      &:hover {
        box-shadow: inset var(--color-tertiary) 0 0 5px;
      }
    }
  }
}
