:host {
  width: 100%;

  #mobile-menu-button {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;

    &:active {
      background-color: lightgray;
    }
  }

  #mobile-menu-container {
    overflow: hidden;
    max-height: 0;
    transition: 0.5s;

    &.opened {
      max-height: 60vh;
      overflow: scroll;
    }
  }
}
