:host {
  width: 100%;

  app-button {
    margin: 0;

    ::ng-deep button {
      background-color: var(--color-primary-translucent);

      &:active {
        background-color: var(--color-primary-shade);
      }
    }
  }

  #mobile-menu-container {
    overflow: hidden;
    max-height: 0;
    transition: 0.5s;

    app-main-menu {
      background-color: var(--color-primary);
    }

    app-social-menu {
      background-color: var(--color-primary-tint);
    }

    &.opened {
      max-height: 60vh;
      overflow: scroll;
    }
  }
}

@media only screen and (min-height: 350px) and (max-height: 600px) {
  :host {
    #mobile-menu-container.opened {
      max-height: 70vh;
    }
  }
}
