:host {
  width: 100%;

  app-button {
    margin: 0;

    ::ng-deep button {
      background-color: var(--color-primary-shade);
    }
  }

  #mobile-menu-container {
    overflow: hidden;
    max-height: 0;
    transition: 0.5s;

    &.opened {
      max-height: 60vh;
      overflow: scroll;
    }
  }
}
