:host {
  position: absolute;
  width: 100%;
  height: 100%;

  .menu-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    button {
      display: flex;
      justify-content: center;
      width: 70px;
      height: 60px;
      padding: 14px;
      background: none;
      border: none;
      outline: none;
      overflow: hidden;

      .hamburger-icon,
      .hamburger-icon::before,
      .hamburger-icon::after {
        display: block;
        content: "";
        outline: solid var(--color-tertiary) 2px;
        transition: 0.25s;
      }

      .hamburger-icon {
        width: 30px;

        &::before {
          transform: translateY(-12px);
        }

        &::after {
          transform: translateY(12px);
        }
      }
    }
  }

  .menu-container {
    overflow: hidden;
    max-height: 0;
    transition: 0.5s;

    app-main-menu {
      background-color: var(--color-primary-translucent);
    }

    app-social-menu {
      background-color: var(--color-primary-tint-translucent);
    }
  }

  &.opened {
    .menu-btn-container button .hamburger-icon {
      transform: translateX(20vmin);

      &::before {
        transform: translate(-20vmin, 0) rotateZ(45deg);
      }

      &::after {
        transform: translate(-20vmin, 0) rotateZ(-45deg);
      }
    }

    .menu-container {
      max-height: 60vh;
      overflow: scroll;
    }
  }
}

@media only screen and (min-height: 350px) and (max-height: 600px) {
  :host {
    #mobile-menu-container.opened {
      max-height: 70vh;
    }
  }
}
