<app-header heading="About" tagline="Tagline here"></app-header>

<img src="assets/images/photos/applying-makeup.jpg" alt="applying-makeup" class="fixed-background-image">

<app-row>
    <app-column v-align="center" class="padding">
        <app-content-block heading="Introduction" text-align="right" text-align-mobile="left"
            class="padding box-shadow-fade">
            <p class="block-quote">
                "Hey Gems, it's Jules. Welcome to my website! I'm very excited for this musical journey and I'd love for
                you to come along for the ride. Stay tuned for more music to come!"
                
                <span class="reference">- Jules 💎</span>
            </p>
            <p>
                Born and raised in Toronto, Ontario, Jules is a Canadian artist with a very energetic, pop vibe! Singing
                since the age of 5, Jules has always had a love and passion for music. Growing up, Julez loved
                performing in singing competitions and talent showcases. Coming from a musical family, she has always
                been very inspired by music and had a love for entertaining.
            </p>
            <p>
                Jules has evolved into a singer-songwriter, with influences that include pop, EDM, alternative, and R&B.
                Her goal is to create music that moves people and inspires others to appreciate the art and power of
                music in their lives.
            </p>
        </app-content-block>
    </app-column>
    <app-column v-align="center" size="l">
        <div class="image-container padding">
            <img src="assets/images/placeholder-1.jpg" alt="placeholder-image" class="box-shadow-fade">
        </div>
    </app-column>
</app-row>

<app-row mobile-col-reverse>
    <app-column v-align="center" size="l">
        <div class="image-container padding">
            <img src="assets/images/placeholder-1.jpg" alt="placeholder-image" class="box-shadow-fade">
        </div>
    </app-column>
    <app-column v-align="center" class="padding">
        <app-content-block heading="Heading" class="padding box-shadow-fade">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a tristique dolor. Donec ultricies
                dapibus mi vitae accumsan. Mauris pretium id neque sit amet euismod. Nunc vel odio pretium libero
                sagittis varius ullamcorper quis elit. Pellentesque fringilla, tellus vel blandit suscipit, tellus massa
                efficitur quam, non commodo purus orci eget ex. Mauris sed ultrices nulla, quis aliquet arcu. Etiam
                pellentesque efficitur diam eu condimentum. Donec fringilla velit et mauris ultrices ullamcorper.
            </p>
        </app-content-block>
    </app-column>
</app-row>