@import "../../../theme/responsive.scss";
@import "../page.scss";

:host {
  @include pageStyle();

  .fixed-background-image {
    height: 140vh;
  }

  app-row {
    app-column {
      max-width: 1400px;

      app-content-block {
        font-size: 1.25rem;
      }
    }
  }
}

@include mobileView() {
  :host app-row app-column app-content-block {
    font-size: 1rem;
  }
}
