<app-header heading="About" tagline="Tagline here"></app-header>

<img src="assets/images/photos/applying-makeup.jpg" alt="person-applying-makeup" class="fixed-background-image">

<app-row>
    <app-column class="padding">
        <app-content-block class="padding box-shadow-fade">
            <p class="block-quote">
                "Hey Gems, it's Jules. Welcome to my website! I'm very excited for this musical journey and I'd love for
                you to come along for the ride. Stay tuned for more music to come!"
                <span class="reference">- Jules 💎</span>
            </p>
            <p>
                Born and raised in Toronto, Ontario, Jules is a Canadian artist with a very energetic, pop vibe! Singing
                since the age of five, Jules has always had a love and passion for music. Growing up, Jules performed in
                many singing competitions and talent showcases. Coming from a musical family, she has always been very
                inspired by music and had a love for entertaining.
            </p>
            <p>
                Jules has evolved into a singer-songwriter, with influences that include pop, EDM, alternative, and R&B.
                Her goal is to create music that moves people and inspires others to appreciate the art and power of
                music in their lives.
            </p>
        </app-content-block>
    </app-column>
</app-row>