@import "../page.scss";

:host {
  @include pageStyle();

  .fixed-background-image {
    height: 140vh;
  }

  app-row {
    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        border-radius: 20px;
      }
    }
  }
}
