:root {
    --color-primary: #9f40ff;
    --color-primary-rgb: 159,64,255;
    --color-primary-contrast: #ffffff;
    --color-primary-contrast-rgb: 255,255,255;
    --color-primary-shade: #8c38e0;
    --color-primary-tint: #a953ff;
    --color-primary-translucent: rgba(160, 64, 255, 0.5);
    --color-primary-tint-translucent: rgba(169, 83, 255, 0.5);
  
    --color-secondary: #fc3a8c;
    --color-secondary-rgb: 252, 58, 140;
    --color-secondary-contrast: #ffffff;
    --color-secondary-contrast-rgb: 255, 255, 255;
    --color-secondary-shade: #de337b;
    --color-secondary-tint: #fc4e98;
    --color-secondary-translucent: rgba(252, 58, 139, 0.7);
  
    --color-tertiary: #f0f000;
    --color-tertiary-rgb: 240, 240, 0;
    --color-tertiary-contrast: #000000;
    --color-tertiary-contrast-rgb: 0, 0, 0;
    --color-tertiary-shade: #d3d300;
    --color-tertiary-tint: #f2f21a;
  
    --color-success: #2dd36f;
    --color-success-rgb: 45, 211, 111;
    --color-success-contrast: #ffffff;
    --color-success-contrast-rgb: 255, 255, 255;
    --color-success-shade: #28ba62;
    --color-success-tint: #42d77d;
  
    --color-warning: #ffc409;
    --color-warning-rgb: 255, 196, 9;
    --color-warning-contrast: #000000;
    --color-warning-contrast-rgb: 0, 0, 0;
    --color-warning-shade: #e0ac08;
    --color-warning-tint: #ffca22;
  
    --color-danger: #eb445a;
    --color-danger-rgb: 235, 68, 90;
    --color-danger-contrast: #ffffff;
    --color-danger-contrast-rgb: 255, 255, 255;
    --color-danger-shade: #cf3c4f;
    --color-danger-tint: #ed576b;
  
    --color-dark: #222428;
    --color-dark-rgb: 34, 36, 40;
    --color-dark-contrast: #ffffff;
    --color-dark-contrast-rgb: 255, 255, 255;
    --color-dark-shade: #1e2023;
    --color-dark-tint: #383a3e;
    --color-dark-translucent: rgba(34, 36, 40, 0.6);
    --color-dark-slight-translucent: rgba(34, 36, 40, 0.85);
  
    --color-medium: #92949c;
    --color-medium-rgb: 146, 148, 156;
    --color-medium-contrast: #ffffff;
    --color-medium-contrast-rgb: 255, 255, 255;
    --color-medium-shade: #808289;
    --color-medium-tint: #9d9fa6;
  
    --color-light: #f4f5f8;
    --color-light-rgb: 244, 245, 248;
    --color-light-contrast: #000000;
    --color-light-contrast-rgb: 0, 0, 0;
    --color-light-shade: #d7d8da;
    --color-light-tint: #f5f6f9;
  }