:host {
  display: block;

  nav.social-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: inline-block;
      max-width: 44px;
      max-height: 44px;
      padding: 10px;
      margin: 10px;
      background-color: var(--color-secondary);
      box-shadow: var(--color-dark) 0.15vmax 0.15vmax 1px;
      border-radius: 50%;
      transition: 0.25s;

      svg {
        width: 100%;
        height: 100%;

        * {
          fill: var(--color-tertiary);
        }
      }

      &:hover {
        transform: scale(1.15);
      }
    }
  }
}
