<nav class="social-menu">
    <ul>
        <li>
            <a href="https://www.facebook.com/Jules-108381527476891/" target="_blank" rel="noopener"
                class="icon-facebook-logo">
                <fa-icon [icon]="iconFacebook" size="2x"></fa-icon>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/realjulesmusic" target="_blank" rel="noopener"
                class="icon-instagram-logo">
                <fa-icon [icon]="iconInstagram" size="2x"></fa-icon>
            </a>
        </li>
        <li>
            <a href="./" class="icon-youtube-logo">
                <fa-icon [icon]="iconYouTube" size="2x"></fa-icon>
            </a>
        </li>
        <li>
            <a href="https://www.tiktok.com/@realjuleshere" target="_blank" rel="noopener" class="icon-tiktok-logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2859 3333" shape-rendering="geometricPrecision"
                    text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd"
                    clip-rule="evenodd">
                    <path
                        d="M2081 0c55 473 319 755 778 785v532c-266 26-499-61-770-225v995c0 1264-1378 1659-1932 753-356-583-138-1606 1004-1647v561c-87 14-180 36-265 65-254 86-398 247-358 531 77 544 1075 705 992-358V1h551z" />
                </svg>
            </a>
        </li>
    </ul>
</nav>