@import "../page.scss";

:host {
  @include pageStyle();
  background-color: var(--color-primary);

  app-column {
    padding: 20px;

    app-content-block ::ng-deep img {
      max-height: 75vh;
    }

    .embed {
      width: 100%;
      height: 600px;

      iframe {
        width: 100%;
      }
    }
  }
}
