@import "../page.scss";

:host {
  @include pageStyle();

  .fixed-background-image {
    height: 110vmax;
  }

  app-column {
    padding: 20px;

    app-content-block ::ng-deep img {
      max-height: 75vh;
    }

    .embed {
      width: 100%;
      height: 600px;

      iframe {
        width: 100%;
      }
    }
  }
}
