<app-header heading="Music"></app-header>

<img src="assets/images/photos/gallery/standing-with-phone-2.jpg" alt="person-standing-with-phone" class="fixed-background-image">

<app-row class="padding">
    <app-column h-align="center" v-align="center">
        <app-content-block class="padding box-shadow-fade" heading="Available Platforms" text-align="center">
            <img src="assets/images/distrokid-album-screenshot.jpg" alt="distrokid-album-screenshot">

            <app-link-button block rounded href="https://distrokid.com/hyperfollow/jules15/dont-wanna-be"
                target="_blank">VIEW</app-link-button>
        </app-content-block>
    </app-column>
    <app-column>
        <div class="embed box-shadow-fade">
            <iframe src="https://open.spotify.com/embed/album/2Hd8QPTkIhozw6UtSILXxd" frameborder="0"
                allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </app-column>
</app-row>