@import "../../../../../theme/responsive.scss";

:host {
  position: relative;
  display: block;
  width: 100%;
  min-height: 25vh;
  background-color: var(--color-secondary-tint);
  overflow: hidden;

  .images-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    overflow: inherit;
  }

  .arrows-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;

    button {
      width: 10%;
      padding: 0;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      z-index: 2;
      transition: 0.25s;

      fa-icon ::ng-deep svg {
        color: var(--color-secondary);
        stroke: var(--color-medium-shade);
        stroke-width: 10px;
        opacity: 0.3;
        transition: 0.25s;
      }

      &:hover fa-icon ::ng-deep svg {
        opacity: 1;
      }

      &:active {
        width: 11%;
      }
    }
  }
}

@include mobileView() {
  :host {
    max-height: 80vh;
  }
}