<app-header heading="JULEZ" class="julez-heading-style"></app-header>

<img src="assets/images/photos/standing-with-phone-1.jpg" alt="person-standing-with-phone"
    class="fixed-background-image">

<app-row>
    <app-column>
        <div>
            <div class="spotify-follow-button box-shadow-fade hover-grow">
                <iframe
                    src="https://open.spotify.com/follow/1/?uri=spotify:artist:5TwmCjBnk2N1wSpgfWxDHP&size=detail&theme=light"
                    width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;"
                    allowtransparency="true">
                </iframe>
            </div>
            <app-spotify-embed-list class="box-shadow-fade hover-grow"></app-spotify-embed-list>
        </div>
    </app-column>
</app-row>

<div class="spacer"></div>