@import "../page.scss";

:host {
  @include pageStyle();

  app-image-carousel {
    height: 100vh;
  }

  #row-spotify-sample ::ng-deep section {
    align-items: center;
    padding: 8% 6%;

    .spotify-embed iframe {
      width: 100%;
      min-height: 100%;
      border-radius: 20px;
    }
  }
}
