<app-header heading="Home" tagline="Tagline here" bannerImage="assets/images/placeholder-1.jpg"></app-header>

<app-row id="carousel-section">
    <app-column>
        <app-image-carousel [autoScroll]="true">
            <app-carousel-image src="assets/images/placeholder-1.jpg" alt="placeholder-image" inAnimation="fade"
                outAnimation="slide"></app-carousel-image>
            <app-carousel-image src="assets/images/placeholder-2.jpg" alt="placeholder-image" inAnimation="fade"
                outAnimation="slide"></app-carousel-image>
            <app-carousel-image src="assets/images/placeholder-3.jpg" alt="placeholder-image" inAnimation="fade"
                outAnimation="slide"></app-carousel-image>
        </app-image-carousel>
    </app-column>
</app-row>
<app-row class="stripe-background">
    <app-column class="padding">
        <app-content-block heading="Sample" class="padding">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a tristique dolor. Donec ultricies
                dapibus mi vitae accumsan. Mauris pretium id neque sit amet euismod. Nunc vel odio pretium libero
                sagittis varius ullamcorper quis elit. Pellentesque fringilla, tellus vel blandit suscipit, tellus massa
                efficitur quam, non commodo purus orci eget ex. Mauris sed ultrices nulla, quis aliquet arcu. Etiam
                pellentesque efficitur diam eu condimentum. Donec fringilla velit et mauris ultrices ullamcorper.
            </p>
            <app-link-button text="VIEW MORE" routerLink="music" rounded block></app-link-button>
        </app-content-block>
    </app-column>
    <app-column class="padding">
        <div class="embed">
            <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" height="380" frameborder="0"
                allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </app-column>
</app-row>