@import "../../../theme/responsive.scss";
@import "../page.scss";

:host {
  @include pageStyle();

  app-column div {
    width: 46%;
    margin: 10px 0;

    &.spotify-album {
      min-height: 560px;
      margin: initial;

      iframe {
        width: 100%;
      }
    }
  }
}

@include mobileView() {
  :host app-column div {
    width: 100%;
  }
}
