@import "../../../theme/responsive.scss";
@import "../page.scss";

:host {
  @include pageStyle();

  app-column {
    padding: 2% 5% 5% 5%;

    div {
      display: flex;
      flex-flow: column;
      width: 46%;
      margin: 10px 0;

      .spotify-follow-button {
        width: 100%;
        margin: 20px 0;
        padding: 10px;
        border-radius: 20px;
        background-color: var(--color-primary-translucent);
      }
    }
  }

  .spacer {
    height: 26vh;
  }
}

@include mobileView() {
  :host app-column div {
    width: 100%;
  }
}
