<nav class="main-menu">
    <a class="link-button" routerLink="/" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"><span>HOME</span></a>
    <a class="link-button" routerLink="/music" routerLinkActive="active"><span>MUSIC</span></a>
    <a class="link-button" routerLink="/about" routerLinkActive="active"><span>ABOUT</span></a>
    <a class="link-button" routerLink="/videos" routerLinkActive="active"><span>VIDEOS</span></a>
    <a class="link-button" routerLink="/gallery" routerLinkActive="active"><span>GALLERY</span></a>
</nav>