@mixin stacked() {
  width: 100%;

  nav.main-menu {
    flex-flow: column;

    a {
      height: auto;
      padding: 15px 20px;
    }
  }
}

:host {
  display: block;

  nav.main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 100%;
  }

  &[stacked] {
    @include stacked();
  }
}

@media only screen and (max-width: 1000px) {
  :host {
    @include stacked();
  }
}
