<nav class="main-menu">
    <ul>
        <li>
            <a class="link-button" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}"><span>HOME</span></a>
        </li>
        <li>
            <a class="link-button" routerLink="/music" routerLinkActive="active"><span>MUSIC</span></a>
        </li>
        <li>
            <a class="link-button" routerLink="/about" routerLinkActive="active"><span>ABOUT</span></a>
        </li>
        <li>
            <a class="link-button" routerLink="/videos" routerLinkActive="active"><span>VIDEOS</span></a>
        </li>
        <li>
            <a class="link-button" routerLink="/gallery" routerLinkActive="active"><span>GALLERY</span></a>
        </li>
    </ul>
</nav>