@mixin stacked() {
  width: 100%;

  nav.main-menu {
    flex-flow: column;

    a {
      height: auto;
      padding: 15px 20px;
    }
  }
}

:host {
  display: block;

  nav.main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 100%;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      height: inherit;
      width: inherit;
      color: var(--color-tertiary);
      padding: 15px 20px;
      transition: 0.5s;

      span {
        padding-top: 1px;
        transition: 0.1s;

        &::after {
          content: "";
          display: block;
          color: inherit;
          border: solid 1px;
          width: 0%;
          opacity: 0;
          transition: 0.3s;
        }
      }

      &:hover span::after {
        border: solid 1px;
        border-color: inherit;
        width: 100%;
        opacity: 1;
      }

      &:hover {
        background-color: var(--color-secondary-tint);
      }

      &.active {
        background-color: var(--color-secondary);
      }
    }
  }

  &[stacked] {
    @include stacked();
  }
}

@media only screen and (max-width: 1024px) {
  :host {
    @include stacked();
  }
}
