<nav class="main-menu">
    <ul>
        <li>
            <a class="link-button" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}">
                <fa-icon [icon]="iconHome"></fa-icon><span>HOME</span>
            </a>
        </li>
        <li>
            <a class="link-button" routerLink="/music" routerLinkActive="active">
                <fa-icon [icon]="iconMusic"></fa-icon><span>MUSIC</span>
            </a>
        </li>
        <li>
            <a class="link-button" routerLink="/about" routerLinkActive="active">
                <fa-icon [icon]="iconAbout"></fa-icon><span>ABOUT</span>
            </a>
        </li>
        <li>
            <a class="link-button" routerLink="/videos" routerLinkActive="active">
                <fa-icon [icon]="iconVideos"></fa-icon><span>VIDEOS</span>
            </a>
        </li>
        <li>
            <a class="link-button" routerLink="/gallery" routerLinkActive="active">
                <fa-icon [icon]="iconGallery"></fa-icon><span>GALLERY</span>
            </a>
        </li>
        <li>
            <a href="https://teespring.com/stores/realjulesmusic" target="_blank" rel="noopener noreferrer"
                class="link-button store-link">
                <fa-icon [icon]="iconMerch"></fa-icon><span>MERCH</span>
            </a>
        </li>
    </ul>
</nav>