:host {
  position: sticky;
  top: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  height: 60px;
  background-color: var(--color-primary-translucent);
  z-index: 999;

  app-mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  :host {
    flex-flow: column;

    h1 {
      padding: 10px 0;
    }

    app-main-menu,
    app-social-menu {
      display: none;
    }

    app-mobile-menu {
      display: block;
    }
  }
}
