@import "../page.scss";

:host {
  @include pageStyle();

  app-row:nth-of-type(even) {
    background-color: var(--color-light);
  }

  .embed {
    width: 1280px;
    max-width: 100%;
    height: 60vh;
    max-height: 60vw;
  }
}
