@import "../page.scss";

:host {
  @include pageStyle();

  app-row {
    padding: 50px 0;

    &:nth-of-type(even) {
      background-color: var(--color-light);
    }
  }

  .video-embed {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 10%;

    iframe {
      width: 1280px;
      max-width: 100%;
      height: 65vh;
      max-height: 60vw;
      border-radius: 20px;
    }
  }
}