<app-header heading="Videos" tagline="Tagline here"></app-header>

<img src="assets/images/photos/sitting-with-phone-2.jpg" alt="person-sitting-with-phone" class="fixed-background-image">

<app-row>
    <app-column class="padding">
        <app-content-block heading="Heading" text-align="right" text-align-mobile="left" class="padding box-shadow-fade">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a tristique dolor. Donec ultricies
                dapibus mi vitae accumsan. Mauris pretium id neque sit amet euismod. Nunc vel odio pretium libero
                sagittis varius ullamcorper quis elit. Pellentesque fringilla, tellus vel blandit suscipit, tellus massa
                efficitur quam, non commodo purus orci eget ex. Mauris sed ultrices nulla, quis aliquet arcu. Etiam
                pellentesque efficitur diam eu condimentum. Donec fringilla velit et mauris ultrices ullamcorper.
            </p>
        </app-content-block>
    </app-column>
    <app-column size="xl" class="padding">
        <div class="embed box-shadow-fade">
            <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
                allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </app-column>
</app-row>

<app-row mobile-col-reverse>
    <app-column size="xl" class="padding">
        <div class="embed box-shadow-fade">
            <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
                allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </app-column>
    <app-column  class="padding">
        <app-content-block heading="Heading" class="padding box-shadow-fade">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a tristique dolor. Donec ultricies
                dapibus mi vitae accumsan. Mauris pretium id neque sit amet euismod. Nunc vel odio pretium libero
                sagittis varius ullamcorper quis elit. Pellentesque fringilla, tellus vel blandit suscipit, tellus massa
                efficitur quam, non commodo purus orci eget ex. Mauris sed ultrices nulla, quis aliquet arcu. Etiam
                pellentesque efficitur diam eu condimentum. Donec fringilla velit et mauris ultrices ullamcorper.
            </p>
        </app-content-block>
    </app-column>
</app-row>